.form-field {
    display: flex;
    flex-direction: column;
}
.form-field-label {
    margin: 0.25rem auto;
}
.form-field textarea, .form-field input {
    width: 50vw;
}
.form-field input[type=submit] {
    width: 20vw;
    margin: 1rem auto;
}