#recipe-container {
    background-color: #111;
    border-radius: 1rem;
    padding: 2rem 4rem;
    margin: 2rem;
}
#ingredients-list, #recipe-steps-list {
    text-align: left;
}
.confirm-delete-btn {
    background-color: #a00;
    display: none;
}

@media screen and (max-width: 767px) {
    div#recipe-container {
        padding: 0.25rem;
        margin: 0;
    }
    h6 {
        font-size: 1rem;
        margin: 0;
        font-style: italic;
    }
}
