.recipe-card {
    background-color: #111;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    max-width: 15rem;
    margin: 0.5rem;
}
#recipe-cards-container {
    display: flex;
    flex-direction: row;
    
}